/vendor
/node_modules
/.env
/.env.example
/.idea
Homestead.json
Homestead.yaml
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/.sass-cache
/.phpunit.result.cache
.phpunit.result.cache
/public/docs
